.isSelected {
  border: 2px solid #7367f0 !important;
}

.product-lists-category-selected {
  border: 1px solid #fafbfe;
  box-shadow: 4px 4px 4px 4px rgba(220, 220, 220, 0.5);
  margin: 10px 10px 15px 15px;
  padding: 15px;
  text-align: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  background-color: #ddd;
}
.product-lists-main {
  border: 2px solid rgba(223, 222, 222, 0.5);

  border-radius: 0.5rem;
  margin: 0 15px;
  padding: 5px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  color: white;
  transition: all  0.3s;
  background-color: rgba(255, 88, 88, 0.705);
}
.product-lists-main:hover {
  scale: 1.1;
}

.product-lists-subone {
  border: 2px solid rgba(223, 222, 222, 0.5);
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  margin: 0 15px;
  padding: 5px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
  background-color: rgba(92, 176, 255, 0.4);
}
.product-lists-subtwo {
  border: 2px solid rgba(223, 222, 222, 0.5);
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  margin: 0 15px;
  padding: 5px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
  background-color: rgba(86, 255, 108, 0.4);
}
.product-lists-subthree {
  border: 2px solid rgba(223, 222, 222, 0.5);
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  margin: 0 15px;
  padding: 5px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
  background-color: rgba(255, 234, 41, 0.4);
}
